h1,h2
{
    text-align:center;
}
#opcao
{
    border: 5px solid;
    border-color: white;
}
#opcao:hover
{
    background-color: rgb(54, 123, 179);
    transition: 2s;
}
p
{
    display: inline-block;
    margin-left: 10px;
}
#sugestoes
{
    display: block;
}
#cardapio 
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 500px;
    height: 300px;
    background-color: turquoise;
    margin: 0 auto;
    border-radius: 5px;

}